body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn{
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 15px;
}

.screen{
    width: 260px;
    border: 1px solid black;
    height: 60px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}